{% load i18n %}{% autoescape off %}
{% blocktrans %}您收到这封电子邮件是因为您要求重置您在{{ site_name }}的用户密码。{% endblocktrans %}

{% trans "点击下方链接，跳转到密码重置页面：" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "您的用户名是：" %} {{ user.get_username }}

{% trans "感谢使用我们的网站!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}

{#<p>您收到这封电子邮件是因为您要求重置您在<a href="#">网站域名</a>的用户密码</p>#}
{#<p>点击下方链接，跳转到密码重置页面：</p>#}
{#{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}#}
{#<p>您的用户名是：{{ user.get_username }}</p>#}
{#<p>感谢使用我们的网站!</p>#}
{#<p>by Ymg blog</p>#}