{% extends "base.html" %}
{% load staticfiles %}

{% block title %}文章{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>{{ article.title }}</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <p class="text-center"><span>{{ article.author.username }}</span><span style="margin-left:20px">{{ publish }}</span></p>
<div>{{ article.body }}</div>
</div>
    <div class="col-xs-6 col-md-4">
        <h2>每日一图</h2>
        <p>©视觉中国</p>
        <img width="200px" src="{% static 'images/I01029804.jpg' %}">
    </div>
</div>
{% endblock %}
